@mixin button($padding:0.5em) {
  padding: $padding;
  border-radius: 0.5em;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 0.2s ease-in-out;

  &:hover {
    border: 1px solid currentColor;
  }

  & .active {
    border: 1px solid currentColor;
  }
}