@import '../../../scss/styles';

.block {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    background: linear-gradient(rgba(0, 0, 0, 0.7), 10%,
            rgba(0, 0, 0, 0.7), 10%,
            rgba(0, 0, 0, 0.3), 90%,
            rgba(0, 0, 0, 0.7), 90%,
            rgba(0, 0, 0, 0.7));
    @include show();

    .title {
        position: relative;
        text-align: center;
        font-size: 3.5rem;
        letter-spacing: 0.4em;
        margin-left: 0.5em;
        @include showUp(0.25s);

        &:before {
            content: '';
            position: absolute;
            bottom: -0.1em;
            left: 0;
            @include rect(100%, 2px, whitesmoke);
            margin-left: -0.25em;
        }
    }

    .option {
        margin-top: 0.5em;
        font-size: 2rem;
        letter-spacing: 0.25em;
        cursor: pointer;
    }
}