@import '../../../scss/styles';

.loading {
    background-color: black;
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: white;
    letter-spacing: 0.25em;
    transition: opacity 1s ease-out;

    .loadingBar {
        height: 2px;
        background-color: lightgrey;
        width: 0;
        transition: width 0.1s ease-in-out;
        position: fixed;
        left: 0;
        z-index: -1;
    }

    .wave{
        color:rgb(255,216,2);
        border-radius: 50%;
        position: fixed;
        bottom: 100px;
        letter-spacing: 0;
        font-size: 1rem;

        &::before,
        &::after{
            content: '';
            position: absolute;
            left: -15%;
            top: -75%;
            border: 5px solid rgb(255,216,2);
            width: 3rem;
            height: 3rem;
            transform: rotate(45deg);
        }

        &::after{
            animation: expand 1s linear infinite;
        }
    }
}

@keyframes expand {
    0%{
        border: 5px solid rgb(255,216,2);
        transform: rotate(45deg) scale(1);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        border: 2.5px solid rgb(255,216,2);
        transform: rotate(45deg) scale(1.5);
    }
}

.fadeout {
    opacity: 0;
}